.Rproj.user
.Rhistory
.RData
.Ruserdata
listings.RData
lab7_regresion_logistica.html
lab7_regresion_logistica.log
lab7_regresion_logistica.text
plan_lab7_regresion_logistica.md
modelo_base.RData
splits.RData



# Archivos temporales de knit
*.tex
*.log
*_files/
*_cache/

# Artefactos derivados (se regeneran al correr el Rmd)
artefactos/train_svm.rds
artefactos/test_svm.rds
artefactos/train_svr.rds
artefactos/test_svr.rds
artefactos/dummy_model_svm.rds
artefactos/dummy_svr.rds
artefactos/preprocess_model_svm.rds
artefactos/preprocess_svr.rds
